<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-3">
                <form class="form-signin center" role="form" action="/authenticate" method="post">
                    <h2 class="form-signin-heading">
                      <i class="fa fa-comments-o">
                        Login Page
                      </i>
                    </h2>
                    <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                    <br/>
                    <a class="lead pull-right" href="/signup">注册</a>
                  </form>

            </div>
        </div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</body>

</html>